<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medical.dtms.service.mapper.datasource.QMSBackUpMapper">
    <resultMap id="BaseResultMap" type="com.medical.dtms.service.dataobject.datasource.QMSBackUpDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="biz_id" jdbcType="VARCHAR" property="bizId" />
        <result column="sql_file_name" jdbcType="VARCHAR" property="sqlFileName" />
        <result column="sql_file_size" jdbcType="VARCHAR" property="sqlFileSize" />
        <result column="back_up_date" jdbcType="TIMESTAMP" property="backUpDate" />
        <result column="sql_url" jdbcType="VARCHAR" property="sqlUrl" />
        <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
        <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
        <result column="modifier" jdbcType="VARCHAR" property="modifier" />
        <result column="modifier_id" jdbcType="VARCHAR" property="modifierId" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    </resultMap>
    <sql id="Base_Column_List">
     id, biz_id, sql_file_name, sql_file_size, back_up_date, sql_url,
    is_deleted, creator, creator_id, gmt_created, modifier, modifier_id, gmt_modified
  </sql>

    <sql id="table_name">
   tb_dtms_qms_back_up
  </sql>

    <!--  主键查询-->
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table_name"/>
        where biz_id = #{bizId,jdbcType=VARCHAR}
        and is_deleted = 0
    </select>

    <!--  保存备份信息-->
    <insert id="insert" parameterType="com.medical.dtms.service.dataobject.datasource.QMSBackUpDO">
        insert into
        <include refid="table_name"/>
        (
        <include refid="Base_Column_List"/>
        )
        values (#{id,jdbcType=BIGINT}, #{bizId,jdbcType=VARCHAR}, #{sqlFileName,jdbcType=VARCHAR},
        #{sqlFileSize,jdbcType=VARCHAR}, #{backUpDate,jdbcType=TIMESTAMP}, #{sqlUrl,jdbcType=VARCHAR},
        0, #{creator,jdbcType=VARCHAR}, #{creatorId,jdbcType=VARCHAR},
        NOW(), #{modifier,jdbcType=VARCHAR}, #{modifierId,jdbcType=VARCHAR},
        NOW())
    </insert>

    <!-- 更新-->
    <update id="updateByPrimaryKeySelective" parameterType="com.medical.dtms.service.dataobject.datasource.QMSBackUpDO">
        update
        <include refid="table_name"/>
        <set>
            <if test="bizId != null">
                biz_id = #{bizId,jdbcType=VARCHAR},
            </if>
            <if test="sqlFileName != null">
                sql_file_name = #{sqlFileName,jdbcType=VARCHAR},
            </if>
            <if test="sqlFileSize != null">
                sql_file_size = #{sqlFileSize,jdbcType=VARCHAR},
            </if>
            <if test="backUpDate != null">
                back_up_date = #{backUpDate,jdbcType=TIMESTAMP},
            </if>
            <if test="sqlUrl != null">
                sql_url = #{sqlUrl,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null">
                creator_id = #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreated != null">
                gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifierId != null">
                modifier_id = #{modifierId,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where biz_id = #{bizId,jdbcType=VARCHAR}
    </update>

    <!--  列表查询-->
    <select id="ListBackUpInfo" resultType="com.medical.dtms.common.model.datasource.BackUpInfoModel"
            parameterType="com.medical.dtms.dto.datasource.query.QMSBackUpQuery">
        select
        biz_id AS bizId,
        sql_file_name AS sqlFileName,
        sql_file_size AS sqlFileSize,
        back_up_date AS backUpDate,
        sql_url AS sqlUrl
        from
        <include refid="table_name"/>
        where is_deleted = 0
    </select>
</mapper>