<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medical.dtms.service.mapper.qms.QMSItemsMapper">
    <resultMap id="BaseResultMap" type="com.medical.dtms.service.dataobject.item.QMSItemsDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="biz_id" jdbcType="BIGINT" property="bizId"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="is_tree" jdbcType="INTEGER" property="isTree"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <result column="allow_edit" jdbcType="BIT" property="allowEdit"/>
        <result column="allow_delete" jdbcType="BIT" property="allowDelete"/>
        <result column="sort_code" jdbcType="VARCHAR" property="sortCode"/>
        <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="creator_id" jdbcType="VARCHAR" property="creatorId"/>
        <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="modifier_id" jdbcType="VARCHAR" property="modifierId"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, biz_id, code, full_name, parent_id, category, is_tree, enabled, allow_edit, allow_delete,
    sort_code, is_deleted, creator, creator_id, gmt_created, modifier, modifier_id, gmt_modified
  </sql>

    <sql id="table_name">
    tb_dtms_qms_items
  </sql>

    <!-- 主键查询是否存在-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table_name"/>
        where biz_id = #{bizId,jdbcType=BIGINT}
        and is_deleted = 0
    </select>

    <!-- 字典类别 删除-->
    <delete id="deleteByPrimaryKey">
        delete from
        <include refid="table_name"/>
        where biz_id = #{itemsId,jdbcType=BIGINT}
    </delete>

    <!-- 字典类别  新增 -->
    <insert id="insert" parameterType="com.medical.dtms.service.dataobject.item.QMSItemsDO">
        insert into
        <include refid="table_name"/>
        (
        <include refid="Base_Column_List"/>
        )
        values (#{id,jdbcType=BIGINT}, #{bizId,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR},
        #{fullName,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT}, #{category,jdbcType=VARCHAR},
        #{isTree,jdbcType=INTEGER}, #{enabled,jdbcType=BIT}, #{allowEdit,jdbcType=BIT},
        #{allowDelete,jdbcType=BIT}, #{sortCode,jdbcType=VARCHAR}, 0,
        #{creator,jdbcType=VARCHAR}, #{creatorId,jdbcType=VARCHAR}, NOW(),
        #{modifier,jdbcType=VARCHAR}, #{modifierId,jdbcType=VARCHAR}, NOW()
        )
    </insert>

    <!--  字典类别 更新-->
    <update id="updateByPrimaryKeySelective" parameterType="com.medical.dtms.service.dataobject.item.QMSItemsDO">
        update tb_dtms_qms_items
        <set>
            <if test="bizId != null">
                biz_id = #{bizId,jdbcType=BIGINT},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null">
                full_name = #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="category != null">
                category = #{category,jdbcType=VARCHAR},
            </if>
            <if test="isTree != null">
                is_tree = #{isTree,jdbcType=INTEGER},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="allowEdit != null">
                allow_edit = #{allowEdit,jdbcType=BIT},
            </if>
            <if test="allowDelete != null">
                allow_delete = #{allowDelete,jdbcType=BIT},
            </if>
            <if test="sortCode != null">
                sort_code = #{sortCode,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null">
                creator_id = #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreated != null">
                gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifierId != null">
                modifier_id = #{modifierId,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where biz_id = #{bizId,jdbcType=BIGINT}
    </update>

    <!-- 根据编号做唯一性校验 -->
    <select id="getQMSItemByCode" parameterType="com.medical.dtms.dto.item.query.QMSItemsQuery"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table_name"/>
        where is_deleted = 0
        <if test="code != null">
            and code = #{code,jdbcType=VARCHAR}
        </if>
        <if test="parentId != null">
            and parent_id = #{parentId,jdbcType=BIGINT}
        </if>
        <if test="fullName != null">
            and full_name = #{fullName,jdbcType=VARCHAR}
        </if>
        <if test="bizId != null">
            and biz_id = #{bizId,jdbcType=BIGINT}
        </if>
    </select>

    <!--    字典类别 列表查询-->
    <select id="listQMSItems" parameterType="com.medical.dtms.dto.item.query.QMSItemsQuery"
            resultType="com.medical.dtms.common.model.item.QMSItemsModel">
        select biz_id AS bizId,code AS code,full_name AS fullName,parent_id AS parentId,category AS category,
        enabled AS enabled,allow_edit AS allowEdit,allow_delete AS allowDelete,sort_code AS sortCode
        FROM
        <include refid="table_name"/>
        where is_deleted = 0
        and parent_id = #{parentId,jdbcType=BIGINT}
    </select>
</mapper>