<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medical.dtms.service.mapper.qms.QMSUserMapper">
    <resultMap id="BaseResultMap" type="com.medical.dtms.service.dataobject.user.QMSUserDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="biz_id" jdbcType="BIGINT" property="bizId"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="dsp_name" jdbcType="VARCHAR" property="dspName"/>
        <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="pass_word" jdbcType="VARCHAR" property="passWord"/>
        <result column="allow_enable" jdbcType="BIT" property="allowEnable"/>
        <result column="sort_code" jdbcType="VARCHAR" property="sortCode"/>
        <result column="log_on_count" jdbcType="INTEGER" property="logOnCount"/>
        <result column="previous_visit" jdbcType="TIMESTAMP" property="previousVisit"/>
        <result column="last_visit" jdbcType="TIMESTAMP" property="lastVisit"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="QQ" jdbcType="VARCHAR" property="qq"/>
        <result column="wx" jdbcType="VARCHAR" property="wx"/>
        <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="creator_id" jdbcType="VARCHAR" property="creatorId"/>
        <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="modifier_id" jdbcType="VARCHAR" property="modifierId"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, biz_id, account, dsp_name, dept_id, role_id, pass_word, allow_enable, sort_code,
    log_on_count, previous_visit, last_visit, mobile, email, QQ, wx, is_deleted, creator,
    creator_id, gmt_created, modifier, modifier_id, gmt_modified
  </sql>

    <sql id="table_name">
        tb_dtms_qms_user
    </sql>

    <!-- 删除用户-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from
        <include refid="table_name"/>
        where biz_id = #{bizId,jdbcType=BIGINT}
    </delete>

    <!-- 添加用户-->
    <insert id="insert" parameterType="com.medical.dtms.service.dataobject.user.QMSUserDO">
        insert into
        <include refid="table_name"/>
        (
        <include refid="Base_Column_List"/>
        )
        values (#{id,jdbcType=BIGINT}, #{bizId,jdbcType=BIGINT}, #{account,jdbcType=VARCHAR},
        #{dspName,jdbcType=VARCHAR}, #{deptId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT},
        #{passWord,jdbcType=VARCHAR}, #{allowEnable,jdbcType=BIT}, #{sortCode,jdbcType=VARCHAR},
        #{logOnCount,jdbcType=INTEGER}, #{previousVisit,jdbcType=TIMESTAMP}, #{lastVisit,jdbcType=TIMESTAMP},
        #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR},
        #{wx,jdbcType=VARCHAR}, 0, #{creator,jdbcType=VARCHAR},
        #{creatorId,jdbcType=VARCHAR},NOW(), #{modifier,jdbcType=VARCHAR},
        #{modifierId,jdbcType=VARCHAR},NOW())
    </insert>

    <!--用户管理 更新用户数据-->
    <update id="updateByPrimaryKeySelective" parameterType="com.medical.dtms.service.dataobject.user.QMSUserDO">
        update
        <include refid="table_name"/>
        <set>
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="account != null">
                account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="dspName != null">
                dsp_name = #{dspName,jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=BIGINT},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=BIGINT},
            </if>
            <if test="passWord != null">
                pass_word = #{passWord,jdbcType=VARCHAR},
            </if>
            <if test="allowEnable != null">
                allow_enable = #{allowEnable,jdbcType=BIT},
            </if>
            <if test="sortCode != null">
                sort_code = #{sortCode,jdbcType=VARCHAR},
            </if>
            <if test="logOnCount != null">
                log_on_count = #{logOnCount,jdbcType=INTEGER},
            </if>
            <if test="previousVisit != null">
                previous_visit = #{previousVisit,jdbcType=TIMESTAMP},
            </if>
            <if test="lastVisit != null">
                last_visit = #{lastVisit,jdbcType=TIMESTAMP},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="qq != null">
                QQ = #{qq,jdbcType=VARCHAR},
            </if>
            <if test="wx != null">
                wx = #{wx,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null">
                creator_id = #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreated != null">
                gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifierId != null">
                modifier_id = #{modifierId,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where biz_id = #{bizId,jdbcType=BIGINT}
    </update>

    <!--校验用户数据是否存在-->
    <select id="getUserByCondition" parameterType="com.medical.dtms.dto.user.query.BaseUserQuery"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table_name"/>
        where is_deleted = 0
        <if test="account != null and account !=''">
            and account = #{account,jdbcType=VARCHAR}
        </if>
        <if test="dspName != null and dspName !=''">
            and dsp_name = #{dspName,jdbcType=VARCHAR}
        </if>
        <if test="userId != null">
            and biz_id = #{userId,jdbcType=BIGINT}
        </if>
    </select>

    <!-- 分页展示用户数据-->
    <select id="pageListUser" parameterType="com.medical.dtms.dto.user.query.BaseUserQuery"
            resultType="com.medical.dtms.common.model.user.QMSUserModel">
        select
        usr.biz_id AS bizId,usr.account AS account,usr.dsp_name AS dspName,usr.dept_id AS deptId,dept.dept_name AS
        deptName,
        usr.role_id AS roleId,role.role_name AS roleName,usr.pass_word AS passWord,usr.allow_enable AS
        allowEnable,usr.sort_code AS sortCode,
        usr.mobile AS mobile,usr.email AS email,usr.QQ AS
        qq,usr.wx AS wx
        from
        tb_dtms_qms_user usr
        LEFT JOIN tb_dtms_qms_role role ON usr.role_id = role.biz_id
        LEFT JOIN tb_dtms_qms_dept dept ON usr.dept_id = dept.biz_id
        WHERE
        usr.allow_enable = 1
        and usr.is_deleted = 0
        AND role.is_deleted = 0
        AND dept.is_deleted = 0
        <if test="account != null and account != ''">
            AND (
            usr.account = #{account,jdbcType=VARCHAR}
            or usr.dsp_name LIKE concat(concat('%',#{account,jdbcType=VARCHAR}),'%')
            )
        </if>
        <if test="deptId != null">
            AND usr.dept_id = #{deptId,jdbcType=BIGINT}
        </if>
        order by usr.gmt_created desc
    </select>

    <!-- 用户列表-->
    <select id="listUsers" parameterType="com.medical.dtms.common.model.dropdown.query.DropDownQuery"
            resultType="com.medical.dtms.common.model.dropdown.DropDownModel">
        select distinct(biz_id) AS userId,dsp_name AS userName
        FROM
        <include refid="table_name"/>
        where is_deleted = 0
        order by any_value(gmt_created) desc
    </select>

    <!-- 根据 id 查询数据-->
    <select id="listUserInfos" parameterType="java.util.List"
            resultType="com.medical.dtms.common.model.user.SimpleUserModel">
        select
        biz_id AS userId,dsp_name AS userName
        from
        <include refid="table_name"/>
        where is_deleted = 0
        AND biz_id IN
        <foreach collection="list" item="bizId" open="(" close=")" index="index" separator=",">
            #{bizId}
        </foreach>
    </select>
</mapper>