<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medical.dtms.service.mapper.train.TrainQuestionProcessMapper">
    <resultMap id="BaseResultMap" type="com.medical.dtms.service.dataobject.train.TrainQuestionProcessDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="biz_id" jdbcType="BIGINT" property="bizId"/>
        <result column="train_id" jdbcType="BIGINT" property="trainId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="train_user_id" jdbcType="BIGINT" property="trainUserId"/>
        <result column="questions_id" jdbcType="BIGINT" property="questionsId"/>
        <result column="exam_id" jdbcType="BIGINT" property="examId"/>
        <result column="user_answer" jdbcType="VARCHAR" property="answer"/>
        <result column="answer_points" jdbcType="INTEGER" property="answerPoints"/>
        <result column="sort_code" jdbcType="INTEGER" property="sortCode"/>
        <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="creator_id" jdbcType="VARCHAR" property="creatorId"/>
        <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="modifier_id" jdbcType="VARCHAR" property="modifierId"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, biz_id, train_id, user_id, train_user_id, questions_id, exam_id, user_answer, answer_points,
    sort_code, is_deleted, gmt_created, creator_id, creator, gmt_modified, modifier_id,
    modifier
  </sql>

    <sql id="table_name">
       tb_dtms_train_question_process
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table_name"/>
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from
        <include refid="table_name"/>
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.medical.dtms.service.dataobject.train.TrainQuestionProcessDO">
        insert into
        <include refid="table_name"/>
        (
        <include refid="Base_Column_List"/>
        )
        values (#{id,jdbcType=BIGINT}, #{bizId,jdbcType=BIGINT}, #{trainId,jdbcType=BIGINT},
        #{userId,jdbcType=BIGINT}, #{trainUserId,jdbcType=BIGINT}, #{questionsId,jdbcType=BIGINT},
        #{examId,jdbcType=BIGINT}, #{user_answer,jdbcType=VARCHAR},
        #{answerPoints,jdbcType=INTEGER},#{sortCode,jdbcType=INTEGER},
        0,NOW(),
        #{creatorId,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, NOW(),
        #{modifierId,jdbcType=BIGINT}, #{modifier,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.medical.dtms.service.dataobject.train.TrainQuestionProcessDO">
        insert into
        <include refid="table_name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="bizId != null">
                biz_id,
            </if>
            <if test="trainId != null">
                train_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="questionsId != null">
                questions_id,
            </if>
            <if test="questionTypeId != null">
                question_type_id,
            </if>
            <if test="userAnswer != null">
                user_answer,
            </if>
            <if test="isRight != null">
                is_right,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="createUserName != null">
                create_user_name,
            </if>
            <if test="modifyDate != null">
                modify_date,
            </if>
            <if test="modifyUserId != null">
                modify_user_id,
            </if>
            <if test="modifyUserName != null">
                modify_user_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="bizId != null">
                #{bizId,jdbcType=BIGINT},
            </if>
            <if test="trainId != null">
                #{trainId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="questionsId != null">
                #{questionsId,jdbcType=BIGINT},
            </if>
            <if test="questionTypeId != null">
                #{questionTypeId,jdbcType=BIGINT},
            </if>
            <if test="userAnswer != null">
                #{userAnswer,jdbcType=VARCHAR},
            </if>
            <if test="isRight != null">
                #{isRight,jdbcType=BIT},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="createUserName != null">
                #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUserId != null">
                #{modifyUserId,jdbcType=BIGINT},
            </if>
            <if test="modifyUserName != null">
                #{modifyUserName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.medical.dtms.service.dataobject.train.TrainQuestionProcessDO">
        update
        <include refid="table_name"/>
        <set>
            <if test="bizId != null">
                biz_id = #{bizId,jdbcType=BIGINT},
            </if>
            <if test="trainId != null">
                train_id = #{trainId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="questionsId != null">
                questions_id = #{questionsId,jdbcType=BIGINT},
            </if>
            <if test="questionTypeId != null">
                question_type_id = #{questionTypeId,jdbcType=BIGINT},
            </if>
            <if test="userAnswer != null">
                user_answer = #{userAnswer,jdbcType=VARCHAR},
            </if>
            <if test="isRight != null">
                is_right = #{isRight,jdbcType=BIT},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="createUserName != null">
                create_user_name = #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUserId != null">
                modify_user_id = #{modifyUserId,jdbcType=BIGINT},
            </if>
            <if test="modifyUserName != null">
                modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.medical.dtms.service.dataobject.train.TrainQuestionProcessDO">
        update
        <include refid="table_name"/>
        set biz_id = #{bizId,jdbcType=BIGINT},
        train_id = #{trainId,jdbcType=BIGINT},
        user_id = #{userId,jdbcType=BIGINT},
        questions_id = #{questionsId,jdbcType=BIGINT},
        question_type_id = #{questionTypeId,jdbcType=BIGINT},
        user_answer = #{userAnswer,jdbcType=VARCHAR},
        is_right = #{isRight,jdbcType=BIT},
        create_date = #{createDate,jdbcType=TIMESTAMP},
        create_user_id = #{createUserId,jdbcType=BIGINT},
        create_user_name = #{createUserName,jdbcType=VARCHAR},
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
        modify_user_id = #{modifyUserId,jdbcType=BIGINT},
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!-- 批量更新 -->
    <update id="updateBatchTrainQuestionProcess" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update tb_dtms_train_question_process
            <set>
                gmt_modified = NOW(),
                <if test="item.answer != null">
                    user_answer = #{item.answer,jdbcType=VARCHAR},
                </if>
                <if test="item.answerPoints != null">
                    answer_points=#{item.answerPoints,jdbcType=INTEGER},
                </if>
                <if test="item.isDeleted != null">
                    is_deleted = #{item.isDeleted,jdbcType=BIT},
                </if>
                <if test="item.modifier != null">
                    modifier = #{item.modifier,jdbcType=VARCHAR},
                </if>
                <if test="item.modifierId != null">
                    modifier_id = #{item.modifierId,jdbcType=VARCHAR},
                </if>
            </set>
            where questions_id = #{item.questionsId,jdbcType=BIGINT}
            and exam_id = #{item.examId,jdbcType=BIGINT}
            and train_id = #{item.trainId,jdbcType=BIGINT}
            and train_user_id = #{item.trainUserId,jdbcType=BIGINT}
        </foreach>
    </update>

    <!--  校验用户是否是第一次参加本次考试-->
    <select id="checkFirstExamOrNot" parameterType="com.medical.dtms.common.model.train.query.TrainSubmitAnswerQuery"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table_name"/>
        where is_deleted = 0
        and train_user_id = #{trainUserId,jdbcType=BIGINT}
        and exam_id = #{examId,jdbcType=BIGINT}
    </select>

    <!--  批量新增数据-->
    <insert id="batchInsertInfo" parameterType="java.util.List">
        insert into
        <include refid="table_name"/>
        (
        <include refid="Base_Column_List"/>
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id,jdbcType=BIGINT}, #{item.bizId,jdbcType=BIGINT}, #{item.trainId,jdbcType=BIGINT},
            #{item.userId,jdbcType=BIGINT}, #{item.trainUserId,jdbcType=BIGINT}, #{item.questionsId,jdbcType=BIGINT},
            #{item.examId,jdbcType=BIGINT}, #{item.answer,jdbcType=VARCHAR}, #{item.answerPoints,jdbcType=INTEGER},
            #{item.sortCode,jdbcType=INTEGER}, 0, NOW(),
            #{item.creatorId,jdbcType=VARCHAR}, #{item.creator,jdbcType=VARCHAR}, NOW(),
            #{item.modifierId,jdbcType=VARCHAR}, #{item.modifier,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <update id="batchUpdateTrainQuestionProcess" parameterType="com.medical.dtms.common.model.train.MyTrainSubmitModel">
        <foreach collection="questions" item="item" index="index" open="" close="" separator=";">
            update
            <include refid="table_name"/>
            <set>
                <if test="item.answer != null">
                    user_answer = #{item.answer,jdbcType=VARCHAR},
                </if>
                <if test="item.questionsPoints != null">
                    answer_points = #{item.questionsPoints,jdbcType=INTEGER},
                </if>
                <if test="modifier != null">
                    modifier = #{modifier,jdbcType=VARCHAR},
                </if>
                <if test="modifierId != null">
                    modifier_id = #{modifierId,jdbcType=VARCHAR},
                </if>
            </set>
            where train_id = #{trainId,jdbcType=BIGINT}
            and user_id = #{userId,jdbcType=BIGINT}
            and train_user_id = #{userId,jdbcType=BIGINT}
            and exam_id = #{examId,jdbcType=BIGINT}
            and questions_id = #{item.questionsId}
        </foreach>
    </update>
</mapper>